<a href="https://colab.research.google.com/github/21JN1A4575/PYTHON/blob/main/PYTHON_PROGRAMS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**MAXIMUM ELEMENT WITH INDEX**

In [ ]:
n = int(input())
arr = list(map(int,input().split()))
max = arr[0]
for i in range(n):
  if arr[i]>max:
    max = arr[i]
print(max,arr.index(max))

6
2 3 4 5 23 4
23 4

**CALCULATE BINARY OPERATIONS**

In [ ]:
def calculateBinaryOperations(binary_string):
  if not binary_string:
    return -1
  result = int(binary_string[0])
  for i in range(1, len(binary_string),2):
    operator = binary_string[i]
    next_number = int(binary_string[i + 1])
    if operator == 'A':
        result = result & next_number
    elif operator == 'B':
        result = result | next_number
    elif operator == 'C':
        result = result ^ next_number
  return result
binary_string = input()
print(calculateBinaryOperations(binary_string))

1C0C1C1A0B1
1

**OPERATION CHOICES**

In [ ]:
def operationChoices(c,a,b):
  if c==1:
    return a+b
  elif c==2:
    return a-b
  elif c==3:
    return a*b
  elif c==4:
    return a/b
  else:
    return 0
c = int(input())
a = int(input())
b = int(input())
print(operationChoices(c,a,b))

2
3
2
1

**DIFFERENCE OF SUM**

In [ ]:
def differenceOfSum(a,b):
  sum_not_divisible = 0
  sum_divisible= 0
  for i in range(1,a+1):
    if i%b == 0:
      sum_divisible+=1
    else:
      sum_not_divisible+=1
  difference = sum_not_divisible - sum_divisible
  return difference
a = int(input())
b = int(input())
print(differenceOfSum(a,b))

30
6
20

**ANAGRAM STRING**

In [ ]:
def anagram(s1,s2):
  if sorted(s1) == sorted(s2):
    print("yes")
  else:
    print("no")
s1 = input()
s2 = input()
print(anagram(s1,s2))

sai
ias
yes
None

**REPLACE CHARACTER**

In [ ]:
def replace_char(s):
  temp=""
  for i in s:
    if i=="e":
      temp+="p"
    elif i=="p":
      temp+='e'
    else:
      temp+=i
  return temp
s=input()
print(replace_char(s))

asdfpjhgeg
asdfejhgpg

In [ ]:
def replace_char(s,ch1,ch2):
  temp=" "
  s = s.replace(ch1,temp)
  s = s.replace(ch2,ch1)
  s = s.replace(temp,ch2)
  return s
s=input()
ch1 = input()
ch2 = input()
print(replace_char(s,ch1,ch2))

fghjkllllllll
j
l
fghlkjjjjjjjj

**REVERSE A STRING WORD WISE**

In [ ]:
str = input()
words = str.split()
rev_words = words[::-1]
print(" ".join(rev_words))

asdf hjkl ertyu
ertyu hjkl asdf

**DIFFERENCE COUNT**

In [ ]:
def findCount(arr,num,diff):
  count = 0
  for i in arr:
    if abs(i-num) <= diff:
      count+=1
  if count>0:
    return count
  else:
    return -1
arr=list(map(int,input().split()))
num=int(input())
diff=int(input())
print(findCount(arr,num,diff))

12 3 14 56 77 13
13
2
3

In [ ]:
def calculate (r, unit, arr, n):
    if n == 0:
        return -1

    totalFoodRequired = r * unit
    foodTillNow = 0
    house = 0

    for house in range (n):
        foodTillNow += arr[house]
        if foodTillNow>=totalFoodRequired:
            break
    if totalFoodRequired > foodTillNow:
        return 0
    return house + 1

r = int (input ())
unit = int (input ())
n = int (input ())

arr = list (map (int, input ().split ()))
print (calculate (r, unit, arr, n))

7
2
8
2 8 3 5 7 4 1 2
4

**MATRIX EVEN ODD SUM OF ELEMENTS AT A PARTICULAR INDEX**

In [ ]:
n = int(input())
arr = list(map(int,input().split()))
even_arr = []
odd_arr = []
for i in range(n):
    if i%2==0:
        even_arr.append(arr[i])
    else:
        odd_arr.append(arr[i])
even_arr.sort()
odd_arr.sort()
sum = even_arr[-2]+odd_arr[-2]
print(sum)

6
2 3 4 5 6 7
9

**DIVISIBLE BY 3 AND 5**

In [ ]:
def Calculate(m,n):
    sum = 0
    for i in range(m,n+1):
        if i%3==0 and i%5== 0:
            sum += i
    return sum
m = int(input())
n = int(input())
print(Calculate(m,n))

1
50
90

**TO CALCULATE THE N BASE EQUIVALENT OF NUM AND RETURN THE SAME AS A STRING**

In [ ]:
def DectoNBase(n, num):
    notation = "0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"
    result = ""
    while num > 0:
        remainder = num % n
        result = notation[remainder] + result
        num = num // n
    return result
n = int(input())
num = int(input())
print(DectoNBase(n, num))

12
718
4BA

In [ ]:
def prime(n):
  if n<=1:
    return false
    for i in range(1,n):
      if n%i==0:
        return false
    return true
n = int(input())
print(prime(n))

5
None

In [ ]:
n = int(input())
for i in range(2,n):
  if n%i==0:
    print("not prime")
    break
else:
  print("prime")

7
prime

In [ ]:
n = int(input())
count = 0
for i in range(1,n):
  if n%i==0:
    count+=1
    if count==2:
      print("not prime")
      break
else:
  print("prime")

7
prime

SMALLEST PRODUCT

In [ ]:
def ProductSmallestPair(sum,n,arr):
    arr = sorted(arr)
    if(n==0 or n<2):
        return -1
    elif(arr[0]+arr[1]<=sum):
        return arr[0]*arr[1]
    else:
        return 0
sum = int(input())
n = int(input())
arr = list(map(int,input().split()))
print(ProductSmallestPair(sum,n,arr))

6
7
2 6 7 3 5 1 8
2

In [ ]:

def ps(a,b):
    b.sort()
    for i in range(len(b)):
        if b[i]+b[i+1] < a:
            return b[i]*b[i+1]
        else:
            return a

a = 6
b = [9,8,3,-7,3,9]
print(ps(a,b))

-21

FIND THE LONGEST PALINDROME SUBSEQUENCE IN A STRING

In [ ]:
def longest_palindrome(s):
    n = len(s)
    dp = [[0] * n for _ in range(n)]
    for i in range(n - 1, -1, -1):
        dp[i][i] = 1
        for j in range(i + 1, n):
            if s[i] == s[j]:
                dp[i][j] = dp[i + 1][j - 1] + 2
            else:
                dp[i][j] = max(dp[i + 1][j], dp[i][j - 1])
    return dp[0][n - 1]
s = "bbbab"
print(longest_palindrome(s))

4

In [ ]:

def lps(str):
    n = len(str)
    dp = [[0] * n for _ in range(n)]
    for i in range(n):
        dp[i][i] = 1
    for cl in range(2, n + 1):
        for i in range(n - cl + 1):
            j = i + cl - 1
            if str[i] == str[j] and cl == 2:
                dp[i][j] = 2
            elif str[i] == str[j]:
                dp[i][j] = dp[i + 1][j - 1] + 2
            else:
                dp[i][j] = max(dp[i + 1][j], dp[i][j - 1])
    return dp[0][n - 1]
str = input()
print(lps(str))

sailakshmi
5

TO FIND ALL PERMUTATIONS OF A STRING

In [ ]:
from itertools import permutations

s = input("Enter a string: ")
perms = [''.join(p) for p in permutations(s)]
print(perms)

Enter a string: sai lakshmi

MOVE HYPENS TO FRONT

In [ ]:
str = input()
count = 0
string = ""
for i in str:
    if i == "-":
        count += 1
    else:
        string += i
print("-"*count+string)

sai-lakshmi-pachigolla
--sailakshmipachigolla

In [ ]:
import math

x1, y1 = 1, 1
x2, y2 = 2, 4
x3, y3 = 3, 6

first_diff = math.sqrt(math.pow(x2-x1, 2) + math.pow(y2-y1, 2))
second_diff = math.sqrt(math.pow(x3-x2, 2) + math.pow(y3-y2, 2))
third_diff = math.sqrt(math.pow(x3-x1, 2) + math.pow(y3-y1, 2))

print(round(first_diff,2), round(second_diff,2), round(third_diff,2))

3.16 2.24 5.39

In [ ]:
import math

x1, y1 = 1, 1
x2, y2 = 2, 4
x3, y3 = 3, 6

first_diff = math.sqrt((x2-x1)**2 + (y2-y1)**2)
second_diff = math.sqrt((x3-x2)**2 + (y3-y2)**2)
third_diff = math.sqrt((x3-x1)**2 + (y3-y1)**2)

print(round(first_diff,2), round(second_diff,2), round(third_diff,2))

**Autobiographical Number**

In [ ]:
def FindAutoCount(n):
    if n is None:
        return 0

    length = len(n)
    uniqueDigits = [0] * 10
    sum_digits = 0
    for char in n:
        digit = int(char)
        sum_digits += digit
        uniqueDigits[digit] = 1
    if sum_digits != length:
        return 0
    count = sum(uniqueDigits)

    return count
n = input("Enter a number: ")
print(FindAutoCount(n))

Enter a number: 10211
3

**SUM OF ODD INTEGERS IN AN ARRAY**

In [ ]:
def sum_of_odd_integers(arr):
    sum = 0
    for i in arr:
        if i%2!=0:
            sum+=i
    return sum

arr = list(map(int,input().split()))
print(sum_of_odd_integers(arr))

1 2 3 4 5 6 7 8 9
25

**smalest pair in an array**

In [ ]:
def smallest_pair(sum,n,arr):
    arr = sorted(arr)
    if(n==0 or n<2):
        return -1
    elif(arr[0]+arr[1]<=sum):
        return arr[0]*arr[1]
    else:
        return 0

sum = int(input())
n = int(input())
arr = list(map(int,input().split()))
print(smallest_pair(sum,n,arr))

9
7
5 2 4 3 9 7 1
2

In [ ]:
def smallest_pair(sum,n,arr):
    arr = sorted(arr)
    count = 0
    if(n==0 or n<2):
        return -1
    elif(arr[0]+arr[1]<=sum):
        count+=1
        return count
    else:
        return 0

sum = int(input())
n = int(input())
arr = list(map(int,input().split()))
print(smallest_pair(sum,n,arr))

9
7
5 2 4 3 9 7 1
1

**TABLE OF A NUMBER**

In [2]:
n = int(input())
sum = 0
for i in range(1, 11):
    value = n * i
    print(value, end=" ")
    sum = sum + value
print()
print(sum)

3
3 6 9 12 15 18 21 24 27 30
165