<a href="https://colab.research.google.com/github/21JN1A4575/PYTHON/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
for i in range(1,n+1):
  print("*" * i)
print()

5
*
**
***
****
*****

In [ ]:
n = 4
i = 1
while i<=n:
  k = n-i
  print(""*k,"*"*i,""*k)
  i+=1

 *
 **
 ***
 ****

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end = " ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input())
for i in range(n+1):
  for j in range(i):
    print(i,end = " ")
  print()

5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input())
ascii_value = 65
for i in range(n):
  for j in range(i+1):
    alphabet = chr(ascii_value)
    print(alphabet,end = " ")
  ascii_value+=1
  print()

5
A
B B
C C C
D D D D
E E E E E

In [ ]:
n = int(input())
ascii = 65
for i in range(n):
  for j in range(i+1):
    alphabet = chr(ascii)
    print(alphabet,end = " ")
    ascii += 1
  print()

5
A
B C
D E F
G H I J
K L M N O

In [ ]:
n = int(input())
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print("*",end = " ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input())
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print(i,end = " ")
  print()

5
6 6 6 6 6
5 5 5 5
4 4 4
3 3
2

In [ ]:
n = 5
alph = 65
for i in range(0, n):
    print(" " * (n-i), end=" ")
    for j in range(0, i+1):
        print(chr(alph), end=" ")
        alph += 1
    alph = 65
    print()

      A
     A B
    A B C
   A B C D
  A B C D E

In [ ]:
n = int(input())
for i in range (n):
  for j in range(n-i-1):
    print(" ",end = " ")
  for j in range(2*i+1):
    print("*",end = " ")
  print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

**characters present at even index number**

In [ ]:
word=input()
size=len(word)
for i in range(0,size-1,2):
  print(word[i])

zxcvbnm,
z
c
b
m

In [ ]:
word = input()
x = list(word)
for i in x[0::2]:
    print(i)

sdfghjhgvcx
s
f
h
h
v
x

**Remove character from specific index**

In [ ]:
def removeChar(s,n):
  x=s[n:]
  return x
print(removeChar("sailakshmi",4))
print(removeChar("sailakshmi",3))

akshmi
lakshmi

**cheak first and last number same**

In [ ]:
def first_last(arr):
  first_no=arr[0]
  last_no=arr[-1]
  if first_no==last_no:
    return True
  else:
    return False
arr=[11,22,33,44,55,11]
print(first_last(arr))

True

**number of occurrences of a substring in a string**

In [ ]:
a="sailakshmi ai"
print(a.count("ai"))

2

**Merge two lists**

In [ ]:
def merge_list(list1,list2):
  result=[]
  for n in list1:
    if n%2!=0:
      result.append(n)
  for n in list2:
    if n%2==0:
      result.append(n)
  return result
list1=[11,21,22,33,12]
list2=[33,66,55,76]
print(merge_list(list1,list2))

[11, 21, 33, 66, 76]

 **Get each digit from a number in the reverse order**

In [ ]:
number = 7536
print("Given number", number)
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7

TO PRINT THE FIRST AND LAST TWO CHARACTERS

In [ ]:
def both_ends(str):
  if len(str)<2:
    return " "
  return str[0:2] + str[-2:]
print(both_ends("sailakshmi"))
print(both_ends("sa"))
print(both_ends("s"))

sami
sasa

replace character

In [ ]:
def change_char(str):
  char=str[0]
  str=str.replace(char,'$')
  str=char+str[1:]
  return str
print(change_char('restart'))

resta$t

In [ ]:
def add(str):
  a=len(str)
  if a<3:
    return str
  elif str[-3:]=='ing':
    str+='ly'
  else:
    str+='ing'
  return str
print(add('ab'))
print(add('abc'))
print(add('eating'))

ab
abcing
eatingly

In [ ]:
def remove_char(str,n):
  first=str[:n]
  second=str[n+1:1]
  return first+second
print(remove_char('sailakshmi',0))
print(remove_char('sailakshmi',3))
print(remove_char('sailakshmi',5))

sai
saila

In [ ]:
def change_string(str):
  return str[-1:]+str[1:-1]+str[:1]
print(change_string('abcd'))

dbca

In [ ]:
def odd_values(str):
  result=" "
  for i in range(len(str)):

    if i%2==0:
      result=result+str[i]
  return result
print(odd_values("sailakshmi"))

 siasm

In [ ]:
items = input("Input comma-separated sequence of words")
words = [word for word in items.split(",")]
print(",".join(sorted(list(set(words)))))

Input comma-separated sequence of wordssai lakshmi pachi golla
sai lakshmi pachi golla

In [ ]:
def last_two(str):
  sub_str=str[-2:]
  return sub_str*4
print(last_two("asdfghjkl"))

klklklkl

In [ ]:
def three_char(str):
  sub_str=str[0:3]
  if len(str)<3:
    return str
  else:
    return sub_str
print(three_char('abcdef'))

abc