<a href="https://colab.research.google.com/github/21JN1A4575/PYTHON/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n = int(input())
for i in range(1,n+1):
  print("*" * i)
print()

5
*
**
***
****
*****

In [ ]:
n = 4
i = 1
while i<=n:
  k = n-i
  print(""*k,"*"*i,""*k)
  i+=1

 *
 **
 ***
 ****

In [ ]:
n = int(input())
for i in range(1,n+1):
  for j in range(i):
    print("*",end = " ")
  print()

5
*
* *
* * *
* * * *
* * * * *

In [ ]:
n = int(input())
for i in range(n+1):
  for j in range(i):
    print(i,end = " ")
  print()

5

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [ ]:
n = int(input())
ascii_value = 65
for i in range(n):
  for j in range(i+1):
    alphabet = chr(ascii_value)
    print(alphabet,end = " ")
  ascii_value+=1
  print()

5
A
B B
C C C
D D D D
E E E E E

In [ ]:
n = int(input())
ascii = 65
for i in range(n):
  for j in range(i+1):
    alphabet = chr(ascii)
    print(alphabet,end = " ")
    ascii += 1
  print()

5
A
B C
D E F
G H I J
K L M N O

In [ ]:
n = int(input())
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print("*",end = " ")
  print()

5
* * * * *
* * * *
* * *
* *
*

In [ ]:
n = int(input())
for i in range(n+1,0,-1):
  for j in range(0,i-1):
    print(i,end = " ")
  print()

5
6 6 6 6 6
5 5 5 5
4 4 4
3 3
2

In [ ]:
n = 5
alph = 65
for i in range(0, n):
    print(" " * (n-i), end=" ")
    for j in range(0, i+1):
        print(chr(alph), end=" ")
        alph += 1
    alph = 65
    print()

      A
     A B
    A B C
   A B C D
  A B C D E

In [ ]:
n = int(input())
for i in range (n):
  for j in range(n-i-1):
    print(" ",end = " ")
  for j in range(2*i+1):
    print("*",end = " ")
  print()

5
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

**characters present at even index number**

In [14]:
word=input()
size=len(word)
for i in range(0,size-1,2):
  print(word[i])

zxcvbnm,
z
c
b
m

In [10]:
word = input()
x = list(word)
for i in x[0::2]:
    print(i)

sdfghjhgvcx
s
f
h
h
v
x

**Remove character from specific index**

In [15]:
def removeChar(s,n):
  x=s[n:]
  return x
print(removeChar("sailakshmi",4))
print(removeChar("sailakshmi",3))

akshmi
lakshmi

**cheak first and last number same**

In [16]:
def first_last(arr):
  first_no=arr[0]
  last_no=arr[-1]
  if first_no==last_no:
    return True
  else:
    return False
arr=[11,22,33,44,55,11]
print(first_last(arr))

True

**number of occurrences of a substring in a string**

In [20]:
a="sailakshmi ai"
print(a.count("ai"))

2

**Merge two lists**

In [24]:
def merge_list(list1,list2):
  result=[]
  for n in list1:
    if n%2!=0:
      result.append(n)
  for n in list2:
    if n%2==0:
      result.append(n)
  return result
list1=[11,21,22,33,12]
list2=[33,66,55,76]
print(merge_list(list1,list2))

[11, 21, 33, 66, 76]

 **Get each digit from a number in the reverse order**

In [25]:
number = 7536
print("Given number", number)
while number > 0:
    digit = number % 10
    number = number // 10
    print(digit, end=" ")

Given number 7536
6 3 5 7